<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()" class="container form-pelicula-nueva">
  <div class="">
  <mat-card class="create-card-movie">
    <mat-card-header>
      <mat-card-title>Nueva película</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col-xs-12">
          <mat-form-field class="full-width">
            <input matInput placeholder="Titulo película" formControlName="titulo" >
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <mat-form-field class="full-width">
            <input matInput placeholder="País de origen" formControlName="pais">
            <mat-error *ngIf="addressForm.controls['pais'].hasError('required')">
              El país de origen es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Calificación de la pelicula</mat-label>
              <mat-select [(value)]="elementoSeleccionado">
                <mat-option *ngFor="let s of estrellas" [value]="s">
                  {{s}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [class]="{'noClick':!habilitarBtnCrear}"
              *ngIf="ruta[2] === 'create'"
      >Crear</button>
      <button mat-raised-button color="primary" type="submit"
              [class]="{'noClick':!habilitarBtnEditar}"
              *ngIf="ruta[2] === 'update'"
      >Editar</button>
    </mat-card-actions>
  </mat-card>
</div>
</form>
