.full-width {
  width: 100%;
}

.create-card-movie{
  min-width: 120px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.noClick{
  pointer-events: none;
  opacity: 0.3;
}

.form-pelicula-nueva{
  padding: 10px;
}
