<mat-card *ngIf="pelicula" >
  <mat-card-header>
    <mat-card-title>
      <h1>
        {{pelicula.titulo}}
      </h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h3>
        {{pelicula.pais}}
      </h3>
    </mat-card-subtitle>
  </mat-card-header>
  <div class="card-font-img">

  </div>
  <!--<img src="https://plchldr.co/i/200x200" alt="imagen referencia">-->
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quibusdam reprehenderit, eligendi asperiores totam placeat earum tempora.
    </p>
    <div>
      <mat-icon *ngFor="let icon of starts" color="warn">start</mat-icon>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/movie', pelicula.id]">Ver detalles</a>
  </mat-card-actions>
</mat-card>
