<footer>
  <div class="container-footer">
    <div class="row center">
      <div class="col-xs-12">
        <div class="box">
          <h3>{{anio.getFullYear()}}@ A.C.C. Peliculas</h3>
        </div>
      </div>
    </div>
  </div>
</footer>
