<mat-tab-group>
  <mat-tab label="Tabla">
    <!--<app-pelicula-tabla></app-pelicula-tabla>-->
  </mat-tab>
  <mat-tab label="Tarjetas">
    <!--<app-peliculas></app-peliculas>-->
  </mat-tab>
</mat-tab-group>
