.card-footer{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  background: darkcyan;
  color: #fff;
}
.contenedor-pelicula-detalle{
  margin-top: 50px;
}
.card-font-img{
  content: ' ';
  width: 100%;
  height: 200px;
  background: deeppink;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  h2{
    padding: 0 10px 10px 0;
    color: #fff;
  }
}
