<div class="contenedor-pelicula-detalle">

<mat-card *ngIf="pelicula">
  <mat-card-header>
    <mat-card-title>
      <h1>
        {{pelicula.titulo}}
      </h1>
    </mat-card-title>
    <mat-card-subtitle>
      <div>
        <mat-icon *ngFor="let icon of starts" color="warn">start</mat-icon>
      </div>
      <h3>
        {{pelicula.pais}}
      </h3>
    </mat-card-subtitle>
  </mat-card-header>
  <div class="card-font-img">
    <div>
      <h2>{{pelicula.pais}}</h2>
    </div>
  </div>
  <!--<img src="https://plchldr.co/i/200x200" alt="imagen referencia">-->
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quibusdam reprehenderit, eligendi asperiores totam placeat earum tempora.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <!--
      <a mat-raised-button color="primary" [routerLink]="['/movie', pelicula.id]">Agregar</a>
      <a mat-raised-button color="warn" [routerLink]="['/movie', pelicula.id]">Actualizar</a>
      <a mat-raised-button color="accent" [routerLink]="['/movie', pelicula.id]">Eliminar</a>
    -->
    <a mat-raised-button color="primary" [routerLink]="['/movie']">Volver</a>
  </mat-card-actions>
  <mat-card-footer>
    <!--<div class="card-footer">
      País de origen {{pelicula.pais}}
    </div>-->
  </mat-card-footer>
</mat-card>

</div>
